composer.phar
/vendor/
.DS_Store

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# composer.lock

/PEASS/
/LinEnum/
/JohnTheRipper/
/ffuf/
